@media only screen {
  .component-timing--card {
    align-items: center;
    background-color: var(--color-gray-darker);
    border-radius: 4px;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    text-align: center;
    width: 100%;
  }

  .component-timing--detail {
    display: flex;
    margin: 12px;
  }

  .component-timing--name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .component-timing--statistic {
    font-weight: 700;
  }
}

@media only screen and (min-width: 540px) {
  .component-timing--card {
    margin-bottom: 8px;
    margin-right: 2px;
  }

  .component-timing--statistic {
    margin-left: 4px;
  }
}
