@media only screen {
  .header {
    align-items: center;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .header--text {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 640px) {
  .header {
    justify-content: start;
  }

  .header--text {
    font-size: 24px;
    text-align: start;
  }
}
