@media only screen {
  .header {
    align-items: center;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .header--button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.1;
  }

  .header--text {
    flex-grow: 1;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 640px) {
  .header {
    justify-content: start;
  }

  .header--button {
    font-size: 28px;
    margin-left: auto;
  }

  .header--text {
    font-size: 24px;
    text-align: start;
  }
}
