@media only screen {
  .logo {
    border-radius: 16px;
    height: 32px;
    margin-right: 8px;
    padding: 2px;
    width: 32px;
  }
}

@media only screen and (min-width: 640px) {
  .logo {
    padding: 4px;
  }
}
