:root {
  --microsoft-black: #000;
  --microsoft-gray-darkest: #505050;
  --microsoft-gray-darker: #737373;
  --microsoft-gray-lighter: #d2d2d2;
  --microsoft-gray-lightest: #e6e6e6;
  --microsoft-white: #fff;
  --microsoft-blue: #0078d7;
  --microsoft-blue-lighter: #99d1ff;
  --microsoft-orange: #d83b01;

  background-color: var(--microsoft-gray-lightest);
  color: var(--microsoft-gray-darkest);
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

@media only screen and (max-width: 539px) {
  .mobile-hidden {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .tablet-hidden {
    display: none;
  }
}
