@media only screen {
  .help-dialog--action {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .help-dialog--cancel {
    background: none;
    border: none;
    font-size: 20px;
    margin: 8px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .help-dialog--close {
    background-color: var(--color-blue);
    border: none;
    border-radius: 2px;
    color: var(--color-white);
    font-size: 14px;
    padding: 12px 36px;
  }

  .help-dialog--close:active,
  .help-dialog--close:hover {
    background-color: var(--color-blue-darker);
    cursor: pointer;
    text-transform: underline;
  }

  .help-dialog--container {
    align-content: center;
    display: flex;
    justify-content: center;
    min-width: 320px;
    padding: 16px;
    width: 100%;
  }

  .help-dialog--content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 28px;
    width: 100%;
  }

  .help-dialog--heading {
    font-weight: 600;
    text-align: center;
  }

  .help-dialog--item {
    line-height: 18px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .help-dialog--learn-more {
    color: var(--color-blue);
  }

  .help-dialog--vocab-title {
    font-weight: 600;
  }
}

@media only screen and (min-width: 640px) {
  .help-dialog--action {
    align-items: flex-end;
  }
}
