@media only screen {
  .help-dialog--action {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .help-dialog--close {
    background-color: var(--color-blue);
    border: none;
    border-radius: 4px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    width: 100%;
  }

  .help-dialog--close:active,
  .help-dialog--close:hover {
    background-color: var(--color-blue-darker);
    cursor: pointer;
    text-transform: underline;
  }

  .help-dialog--container {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
  }

  .help-dialog--content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 16px);
  }

  .help-dialog--heading {
    text-align: center;
  }

  .help-dialog--vocab-item {
    line-height: 18px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .help-dialog--vocab-title {
    font-weight: 500;
  }
}

@media only screen and (min-width: 640px) {
  .help-dialog--action {
    flex-direction: row;
    margin: 16px 0 8px;
  }

  .help-dialog--content {
    max-width: 800px;
  }

  .help-dialog--learn-more {
    margin: 0 8px 0 0;
  }
}
