@media only screen {
  .capture-cycle--skeleton {
    padding-bottom: 4px;
  }

  .capture-cycle--skeleton-component {
    border-radius: 8px;
    height: 28px;
    margin: 0 16px 16px;
  }

  .capture-cycle--skeleton-title {
    height: 24px;
    border-radius: 8px;
    margin: 16px auto 36px;
    max-width: 50%;
  }

  .shimmer {
    background: var(--color-gray-darker);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-gray-darker)), color-stop(20%, var(--color-gray-darkest)), color-stop(60%, var(--color-gray-darker)), to(var(--color-gray-darker)));
    background-image: -webkit-linear-gradient(left, var(--color-gray-darker) 0%, var(--color-gray-darkest) 20%, var(--color-gray-darker) 60%, var(--color-gray-darker) 100%);
    background-image: -o-linear-gradient(left, var(--color-gray-darker) 0%, var(--color-gray-darkest) 20%, var(--color-gray-darker) 60%, var(--color-gray-darker) 100%);
    background-image: linear-gradient(to right, var(--color-gray-darker) 0%, var(--color-gray-darkest) 20%, var(--color-gray-darker) 60%, var(--color-gray-darker) 100%);
    background-repeat: no-repeat;
    background-size: 200vw 200vw;
    opacity: 0.3;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
  }
}

@media only screen and (min-width: 640px) {
  .capture-cycle--skeleton-title {
    margin: 16px 16px 36px;
    max-width: 30%;
  }
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -100vw 0;
  }

  100% {
    background-position: 100vw 0;
  }
}
