@media only screen {
  .capture-cycle--card {
    background-color: var(--color-white);
    border-radius: 3px;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    margin: 8px 16px;
    overflow: auto;
  }

  .capture-cycle--header {
    font-size: 17px;
    font-weight: 400;
    margin: 16px;
    text-align: center;
  }

  .capture-cycle--statistic {
    font-weight: 500;
  }
}

@media only screen and (min-width: 640px) {
  .capture-cycle--header {
    text-align: start;
  }
}
