@media only screen {
  .capture-cycle--card {
    background-color: var(--color-white);
    border-radius: 4px;
    margin: 0 16px 12px;
  }

  .capture-cycle--statistic {
    font-weight: 500;
  }

  .capture-cycle--timestamp {
    font-weight: 400;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
  }
}

@media only screen and (min-width: 540px) {
  .capture-cycle--timestamp {
    text-align: start;
  }
}
